<%- contentFor('body') %>

    <input type="hidden" id="uuid" value="<%= uuid %>">
    <div id="driverDetails"></div>
    <div id="map" class="disabled"></div>
    <span id="pos">Sin iniciar</span>

    <div class="sharetools hide">
        <a href="https://twitter.com/share?url=https://ahora.glitch.me/mapa%23<%= displayName %>&via=overlemonsoft&text=¡Estoy en viaje! Mirá mi posición en tiempo real." target="_blank"><span class="fadeInLeft fa fa-twitter"></span></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://ahora.glitch.me/mapa%23<%= displayName %>&t=¡Estoy en viaje! Mirá mi posición en tiempo real." target="_blank"><span class="fadeInLeft1 fa fa-facebook"></span></a>
        <a class="is-hidden-desktop" href="whatsapp://send?text=¡Estoy en viaje! Mirá mi posición en tiempo real. https://ahora.glitch.me/mapa%23<%= displayName %>" target="_blank"><span class="fadeInLeft2 fa fa-whatsapp"></span></a>
    </div>

    <script id="details" type="text/x-jsrender">
        <div class="content">
            <p><span>{{:displayName}}</span><br><small>{{:customMsg}}</small></p>
            <a class="button is-large is-success emit-btn"><span class="icon is-text-success"><span class="fa fa-bus"></span></span> &nbsp;&nbsp;Compartir ubicación</a>
        </div>
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <script type="text/javascript" src="/js/emisor.js"></script>